.profile * {
    text-align: left;
    padding:10px;
}

.edit-field > label{
    padding-right: 10px;
}
.bolded {
    font-weight: bold;
}

.fields * {
    padding-bottom: 0px;
}

.field{
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    background: white;
}