.App {
  background-color: #f5f3ee;
  min-height: 100vh;
  font-family: 'Playfair Display';
}

.submit-button {
  background-color: #f5f3ee;
  border-radius: 10px;
  border: solid #212529 1px;
  color: #212529;
}

.submit-button:hover {
  background-color: #ebe7de;
}